<div id="skiplink-container">
    <div>
        <a href="#content" class="skiplink"></a>
    </div>
</div>

{{> messages/cookie-notice showCookieBanner=showCookieWarning }}

<header role="banner" class="global-header global-header--with-proposition">
    <div class="global-header__wrapper">

        <div class="global-header__brand">
            <div class="global-header__logo">
                <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" class="global-header__logo-link">
                    <img src="/images/icons/gov.uk_logotype_crown_invert_trans.png" width="36" height="32" alt=""> GOV.UK
                </a>
            </div>
        </div>

        <div class="global-header__proposition">
            <a href="/" class="global-header__proposition-name">{{__ 'global.header.title' }}</a>
        </div>

    </div>
</header>

<span class="global-header__accent"></span>

<div class="phase-banner">
    <div class="phase-banner__inner">
        <p>
            <strong class="phase-tag">Beta</strong>
            <span>{{{__ 'global.header.betaText' }}}</span>
        </p>

        <div class="phase-banner__account-links">

            {{#if userEmail }}
                Welcome, {{ userEmail }}
            {{/if}}

            {{#unless userEmail }}
                <a href="/internal-jobs">Sign in to access internal jobs</a>
            {{/unless}}
        </div>
    </div>
</div>

{{#if jwtInvalid }}
    <div class="global-msg">
    {{> messages/error
            errorMsg='Your session token has expired or is not valid.'
            errorMsgOptional='Your session token has expired or is not valid.<br /><a href="/internal-jobs">Authenticate again</a> to continue to view internal jobs'
            errors=true }}
    </div>
{{/if}}