.main {
    @extend %contain-floats;
    background-color: #FFF;
    padding: 0 $gutter-half;

    @include media(tablet) {
        padding: {
            left: $gutter;
            right: $gutter;
        }
    }

    &__inner {
        margin: 0 auto;
        max-width: 960px;
        padding: 40px 0 $gutter;
    }
}

.top-twocol {
    @extend %grid-row;

    &__first {
        @include grid-column(3/4);
    }

    &__last {
        @include grid-column(1/4);
        margin-top: $gutter;
    }
}

.back-link {
    @include media(tablet) {
        text-align: center;
    }
}

.closing-date {
    @include core-16;
}