.global-header {
  @include clearfix;
    background-color: $black;
    padding: 0 $gutter-half;

    @include media(tablet) {
      padding: 0 $gutter;
    }

    &__wrapper {
      @include clearfix;
      background-color: $black;
      margin: 0 auto;
      max-width: 960px;
      padding: 8px 0;
      position: relative;
    }

    &__accent {
      background-color: #FFF;
      display: block;
      height: 10px;
      position: relative;

      &:before {
        background-color: $govuk-blue;
        content: "";
        display: block;
        height: 10px;
        margin: 0 auto;
        max-width: 960px;
        width: 100%;
      }
    }

    &__brand {
      @extend %contain-floats;
    }

    &__logo {
      @extend %contain-floats;
      margin-top: 2px;

      @include media(380px) {
        float: left;
      }

      @include media(desktop){
        width: 33.33%;
      }
    }

    &__proposition {
      padding-top: 10px;

      @include media(desktop){
        float: left;
        padding-top: 5px;
        width: 66.66%;
      }
    }

    &__proposition-name {
      @include core-24;
      font-weight: bold;
      color: $white;
      text-decoration: none;

      &:visited,
      &:link {
        color: $white;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &--with-proposition {
      .global-header__brand {
        @include media(desktop){
          float: left;
          width: 33.33%;
        }
      }

      .global-header__logo {
        @include media(desktop){
          width: 100%;
        }
      }
    }

    &__logo-link {
      float: left;
      font-weight: bold;
      font-size: 30px;
      line-height: 1;
      text-decoration: none;

      &:link,
      &:visited {
        color: $white;
      }

      &:hover,
      &:focus {
        text-decoration: none;
        border-bottom-color: $white;
      }

      img {
        margin: 0 5px -4px 0;
      }
    }
  }
  
  // TODO: Revisit this and rework
  .js-enabled #global-cookie-message {
    display: none; /* shown with JS, always on for non-JS */
  }
  
  // TODO: Revisit this and rework
  #global-cookie-message {
    width: 100%;
    background-color: $light-blue-25;
    padding-top: 10px;
    padding-bottom: 10px;
    p {
      @extend %site-width-container;
      @include core-16;
      margin-top: 0;
      margin-bottom: 0;
    }
  }