.job-details {
    @include clearfix;
    padding: 0 0 50px 0;

    &__title {
        margin-bottom: 0;
        small {
            @include core-27;
            color: $grey-1;
            display: block;
        }
    }

    &__top {
        margin-bottom: $gutter;

        .closing-date {
            margin: 0 0 3px;
            
            @include media(tablet) {
                text-align: center;
            }
        }
    }

    &__bottom {
        border-top: 1px solid $grey-2;
        padding-top: $gutter;
    }

    h2 {
        @include bold-19;
    }
}