.job-details {
    @include clearfix;
    padding: 0 0 50px 0;

    &__title {
        @include bold-36;
        margin: 0 0 $gutter-two-thirds;

        small {
            @include core-24;
            color: $grey-1;
            clear: both;
            display: block;
            padding-top: $gutter-one-quarter;
        }
    }

    &__shortDesc {
        margin-bottom: 0;
    }

    &__image {
        height: auto;
        margin-bottom: 10px;
        width: 100px;

        @include media(tablet) {
            width: 130px;
        }
    }

    &__top {
        @include clearfix;
        border-bottom: 2px solid $grey-3;
        margin-bottom: $gutter-half;
        padding: $gutter-half 0;
    }

    &__summary {
        float: left;
        margin-bottom: $gutter-half;
        width: calc(100% - 120px);

        @include media(tablet) {
            width: calc(100% - 280px);
        }
    }

    &__logo {
        clear: right;
        float: right;
        margin-bottom: $gutter-half;
        text-align: center;

        @include media(tablet) {
            width: 260px;
        }
    }

    &__apply {
        clear: both;
        text-align: center;

        @include media(tablet) {
            clear: right;
            float: right;
            width: 260px;
        }
    }

    &__apply-inner {
        @include media(tablet) {
            width: 260px;
        }
    }

    &__bottom {
        @include clearfix;

        h2 {
            @include bold-19;
        }
    }

    &__content {

        @include media(tablet) {
            float: right;
            padding-left: $gutter;
            width: 66.6666%;
        }

        h2 {
            @include bold-24;
            margin-bottom: $gutter-two-thirds;
        }

        h3 {
            @include bold-19;
            margin-bottom: 0;
        }

        p {
            margin-top: 0;
        }
    }

    &__meta-box {
        background-color: $grey-4;
        border: 1px solid $grey-3;
        margin-bottom: $gutter-half;
        padding: $gutter-half $gutter-half 0;

        &--plain {
            background-color: transparent;
            border-color: transparent;
        }

        &--key-facts {
            @include media(tablet) {
                float: left;
                width: 33.3333%;
            }
        }

        &--contact {
            @include media(tablet) {
                clear: left;
                float: left;
                width: 33.3333%;
            }
        }

        p {
            @include core-16;
            line-height: 1.5;
        }
    }

    &__meta-box-title {
        margin-bottom: $gutter-half;
    }

    &__closure {

        @include media(tablet) {
            float: right;
            padding-left: $gutter;
            width: 66.6666%;
        }
    }

    &__key-facts-list {
        @include clearfix;

        li {
            @include core-16;
            display: block;
            float: left;
            margin: 0 0 $gutter-half;
            padding-right: $gutter-one-quarter;
            width: 50%;

            &:nth-child(odd) {
                clear: left;
            }

            @include media(tablet) {
                float: none;
                padding: 0;
                width: auto;
            }

            strong {
                display: block;
                margin-bottom: 3px;

                &::after {
                    content: ':';
                }
            }
        }
    }

    &__logos {
        text-align: center;

        @include media(tablet) {
            clear: left;
            float: left;
            width: 33.3333%;
        }

        img {
            max-width: 200px;
            margin-bottom: 20px;
            width: 100%;
        }
    }
}