.pagination {
    @include clearfix;

    &__list {
        list-style: none;
    }

    &__list-item {
        @include core-19;
        float: left;
        width: 50%;

        &:last-child {
            text-align: right;
        }

        a {
            display: block;
            line-height: 1.3;
            padding: 15px 0;
            text-decoration: none;
        }
    }

    &__page-label {
        @include core-14;
        display: block;
    }

    &__hide-mobile {
        display: none;

        @include media(tablet) {
            display: inline;
        }
    }
}