.phase-banner {
    @include clearfix;
    background-color: #FFF;
    border: 0;
    padding: 0 $gutter-half;

    @include media(tablet) {
        padding: 0 $gutter;
    }

    &__inner {
        border-bottom: 1px solid #bfc1c3;
        margin: 0 auto;
        max-width: 960px;
        padding: 10px 0 8px;
    }

    &__account-links {
        @include core-19;
        padding: 5px 0 0 0;
        text-align: right;
    }
}