.job-search {
    &__total-results {
        @include bold-19;
        margin-bottom: 3px;

        strong {
            font-size: 24px;
            margin-right: 2px;
        }
    }

    &__results {
        margin-bottom: $gutter;
    }

    &__no-results {
        padding-top: 10px;
    }

    &__item {
        border: 1px solid $grey-2;
        clear: both;
        margin-bottom: $gutter-half;
        overflow: hidden;
    }

    &__item-row {
        @extend %grid-row;
        padding: $gutter $gutter-half $gutter-half;

        @include media(tablet) {
            padding: $gutter $gutter $gutter-half;
        }
    }

    &__item-first {
        @include grid-column(1/4);
        margin-bottom: $gutter-half;
    }

    &__item-last {
        @include grid-column(3/4);
    }

    &__item-title {
        @include bold-24;
        margin-bottom: $gutter-half;
    }

    &__item-attributes {
        li {
            margin-bottom: $gutter-half;
            
            @include media(tablet) {
                float: left;
                padding-right: $gutter;
                width: 50%;
            }

            &.full-width {
                float: none;
                padding-right: 0;
                width: auto;
            }
        }

        .job-search__item-attributes-label {
            display: block;
        }
    }

    &__results-container {
        @extend %grid-row;
    }

    &__filters {
        @include grid-column(1/4, $full-width: tablet, $float: left);
    }

    &__results-list-container {
        @include grid-column(3/4, $full-width: tablet, $float: right);
    }
}