.search-filters {
    @include clearfix;
    background-color: $grey-3;
    margin-bottom: $gutter;
    padding: $gutter $gutter-half 0;

    .form-group {
        &:last-child {
            margin: 0;
        }
    }

    input.form-control {
        width: 100%;
    }
}