<h1 class="heading-xlarge">
    {{__ 'errors.error500.title_l1' }}
    <span class="heading-secondary">{{__ 'errors.error500.title_l2' }}</span>
</h1>
<p>{{__ 'errors.error500.line1' }}</p>
<p>{{{__ 'errors.error500.line2' }}}</p>