<h1 class="heading-xlarge">
    {{__ 'errors.error503.title_l1' }}
    <span class="heading-secondary">{{__ 'errors.error503.title_l2' }}</span>
</h1>
<p>{{__ 'errors.error503.line1' }}</p>
<p>{{{__ 'errors.error503.line2' }}}</p>