<h1 class="heading-xlarge">Search Results</h1>

<div class="job-search">
    
    <p class="job-search__total-results"><strong>{{ total }}</strong> job{{#unless singular }}s{{/unless}} found</p>
    
    {{#if results}}
        {{> search/results items=results}}
    {{/if}}

</div>