<div class="top-twocol">
    <div class="top-twocol__first">
        <h1 class="heading-xlarge">Search Results</h1>
    </div>
    <div class="top-twocol__last">
        <p class="back-link"><a href="/">Back to search</a></p>
    </div>
</div>

<div class="job-search">
    
    <p class="job-search__total-results"><strong>{{ total }}</strong> job{{#unless singular }}s{{/unless}} found</p>
    
    {{#if results}}
        {{> search/results items=results}}
    {{/if}}

</div>