.button {
    white-space: normal;

    &--block {
        display: block;
        text-align: center;
        width: 100%;
    }

    &--text {
        background: transparent;
        border-color: transparent;
        box-shadow: none;
        color: #005ea5;
        text-decoration: underline;

        &:hover {
            background: transparent;
            border-color: transparent;
            color: #4c2c92;
        }
    }
}