html,
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, 
body {
    background-color: $footer-background;
}

body {
    @include core-16;
    letter-spacing: .5px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    @include focus-state;
}

table {
    margin-bottom: 30px;
}

caption {
    p {
        @include core-19;
        margin-bottom: 0;
    }
}