* {
    box-sizing: border-box;
}

html, 
body {
    background-color: $footer-background;
}

body {
    @include core-16;
    letter-spacing: .5px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    @include focus-state;
}